html {
    width: 100%;
    height: 100%;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

header {
    height: 45px;
    background-color: #ffc904;
    box-shadow: 0 0 10px rgb(255, 255, 255);
}

ul {
    float: right;
    position: relative;
    right: 5%;
}

ul li {
    display: inline;
    list-style:none;
}

ul li a {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    padding: 0px 0px 0px 20px;
}

footer {
    position: absolute;
    bottom: 0%;
    width: 100%;
    height: 60px;
    background-color: #ffc904;
    box-shadow: 0 0 10px #000;
    text-align: center;
    margin: 0 auto;
}

footer p {
    text-transform: uppercase;
}

h1 {
    text-transform: uppercase;
    font-size: 30px;
}

p a {
    color: #666;
}

div {
    width: 100%;
    margin: 0 auto;
    text-align: center;
}

label {
    display: block;
    margin: 15px auto;
}

.required:after {
    content:" *";
    color: red;
}

input {
    display: block;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0 0 10px #666;
    width: 240px;
    height: 30px;
    background-color: #f2f2f2;
}

select {
    display: block;
    margin: 15px auto;
    text-align: center;
    box-shadow: 0 0 10px #666;
    width: 240px;
    height: 30px;
    background-color: #f2f2f2;
}

textarea {
    display: block;
    resize: none;
    margin: 15px auto;
}

button {
    width: 240px;
    height: 60px;
    font: 25px Monaco, Monospace;
    background-color: #ba9b37;
    color: #ffffff;
}

.comment-box {
    width: 300px;
    padding: 20px;
    margin-bottom: 4px;
    background-color: #ddd;
    border-radius: 4px;
}

.comment-box p {
    font-family: arial;
    font-size: 14px;
    line-height: 16px;
    color: #282828;
    font-weight: 100;
}
    